<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .error{
            color: red;
        }
    </style>
</head>
<body>
<h1>Create product</h1>

<form th:action="@{/products/create}" method="post" th:object="${product}">
    <div>
        Name <input type="text" th:field="*{name}">
        <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
            Error</span>
    </div>

    <div>
        Price <input type="text" th:field="*{price}">
        <span class="error" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">price
            Error</span>
    </div>

    <div>
        Thumbnail <input type="text" th:field="*{thumbnail}">
        <span class="error" th:if="${#fields.hasErrors('thumbnail')}" th:errors="*{thumbnail}">thumbnail
            Error</span>
    </div>

    <input type="submit" value="Submit"/>
</form><br>
<a th:href="@{/products}">Return list page</a>
</body>
</html>