<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>List product</h1>
<a th:href="@{/products/create}">Create</a>
<ul>
    <li th:each="product : ${products}">
        <h4 style="font-size: 20px" th:text="${product.name} + ' - ' + ${product.price}"></h4><br>
        <img th:width="250px" height="200px" th:src="${product.thumbnail}" alt="Thumbnail">
        <a th:href="@{/products/{id}(id=${product.id})}">Edit</a>
        <a th:href="@{/products/{id}(id=${product.id})}">Delete</a>
    </li>
</ul>

</body>
</html>